<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A view model class.</string>
	<key>Summary</key>
	<string>A view model class</string>
	<key>SortOrder</key>
	<string>3</string>
	<key>DefaultCompletionName</key>
	<string>MyVModel</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Name:</string>
			<key>Description</key>
			<string>The name of the view model to create</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>VModel</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>cocoaTouchSubclass</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>Type</key>
			<string>class</string>
			<key>Default</key>
			<string>ViewModel</string>
			<key>Values</key>
			<array>
				<string>ViewModel</string>
			</array>
			<key>Suffixes</key>
			<dict>
				<key>ViewModel</key>
				<string>VModel</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
